{% extends "base.html" %}
{% block page_content %}
<div class="container-fluid bg-primary">
<div class="container bg-primary text-secondary">
    <br>
    <h2 class="text-center">Influential Media Collection (IMC)</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <p>
        Welcome to the documentation of my IMC! Ever since the first written language, no important time period, no influential human life, and no world-changing event happened without being accompanied by or retold in some way through written media. I am fascinated by how words on a page can make such a profound impact on the course of a civilization, and I decided while back to start collecting books that left extraordinary marks on humanity.
    </p>
    <p>
        The works below are poems, novels, treatises, and some reference texts that either had, or in some way retell events that had, a significant impact on the development of the human race - good or bad. One way I like to think of my collection is as follows: If an alien civilization came to our planet, and everything had been destroyed except my IMC, would they have a good understanding of our civilization, key events and people, and what shaped our decisions and changes throughout our entire written history? Hopefully, yes! The two rules for my collection are as follows: no digital copies, and all media must be purchased in person. I did this to avoid the fact that I could just go online and mass-order a bunch of stuff - this would be a lot less fun, and this way I get to support local bookstores!
    </p>

    <div style="position:relative; padding-top:56.25%;">
        <iframe width="1000" height="600" style="position:absolute;top:0;left:0;width:100%;height:100%;"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRiRSJtvvyEB7YQMZTu3oiu1FxRkci8Hs8xKwmf8OAXDPeQRgPp3SAyz8hKgkEIwtZokBbq1ilEO_D6/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false">"
        </iframe>
    </div>
    <br>
    <div class="text-center font-italic text-secondary">
        Note: I do not endorse any of the messages in these books. This is merely a collection of <i>influential material.
    </div>
    <br>

</div>
</div>

{% endblock %}