{% extends "base.html" %}

{% block page_content %}
<h1><center>Samuel Hohenshell - Portfolio Website Landing Page</center></h1>
<br><br>
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Who am I?</h4>
            <p>
                My name is Samuel Hohenshell and I am currently a senior at the University of Minnesota -
                Twin Cities College of Science and Engineering. I am studying for a B.S. in Computer Science
                and am on track to graduate Spring 2021.
            </p>
        </div>
        <div class="col">
            <h4>What is the purpose of this site?</h4>
            <p>
                I made this website as a very basic way to practice web development/Django as well as a way to keep
                links to and explanations of various projects I have worked on all in one place.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>What is on this website?</h4>
            <p>
                This website has essentially two parts (for now). A "projects" section where you can find information about
                various coding projects I have worked on, and a "blog" section. The posts on the blog are just filler and for
                fun; the reason I made the blog was to practice adding another feature to my website.
            </p>
        </div>
        <div class="col">
            <h4>Contact Info</h4>
            <p>
                If you would like to contact me, please feel free to email me at hohen036@umn.edu.
            </p>
        </div>
    </div>
</div>
<br>
<h1>Resume</h1>
    <span >
        <embed src="https://docs.google.com/document/d/e/2PACX-1vT1WY-B48sAWCPzPeOG8X3_1u3Ymnmqw_hTSGe2bY6rXG1tGauYFnNmFFvX90IsEQPPQush7Ff1n5Oy/pub?embedded=true"
           height="925" width="900" class="border border-dark">
    </span>
<br><br>

{% endblock %}
