{% extends "base.html" %}

{% block page_content %}
<h1><center>Samuel Hohenshell - Portfolio Website</center></h1>
<br><br>
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Who am I?</h4>
            <p>
                My name is Samuel Hohenshell and I've got big dreams as a software engineer. I am currently a senior at the University of Minnesota - Twin Cities College of Science and Engineering. I am studying for a B.S. in Computer Science and am on track to graduate Spring 2021. Welcome to my website!
            </p>
        </div>
        <div class="col">
            <h4>What is the purpose of this site?</h4>
            <p>
                This website started as a way to practice web development/Django and evolved into a medium to explain/show off my personal projects, write articles about things that interest me, practice JavaScript by making web apps, expand my HTML/CSS/JS knowledge, and more.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>What is on this website?</h4>
            <p>
                Allow me to provide a brief, bulletpointed summary of each section of my site...
                <ul>
                    <li>Projects: An overview of all of my personal projects</li>
                    <li>Blog: An unused (but fully functional!) framework for a blog</li>
                    <li>IMC: An overview of my "Influential Media Collection"</li>
                    <li>Articles: A bunch of articles written to share things I think are cool and practice/show off javascript.</li>
                    <li>YT Randomizer: A web app for randomizing large YouTube playlists (since YouTube fails to do so)</li>
                </ul>
            </p>
        </div>
        <div class="col">
            <h4>Contact Info</h4>
            <p>
                If you would like to contact me, please feel free to email me at hohen036@umn.edu. Thanks for checking out my website <3
            </p>
            <h4>Your website look worse than _____'s!</h4>
            <p>
                Woah woah, first off, no need to be rude; I put a lot of effort into this! I used no preloaded templates for my website.
                This entire website was written from the ground up by me. The point of this website was to learn and practice JS, HTML, Django, etc;
                not to make the most aesthetic website possible.
            </p>
        </div>
    </div>
</div>

<br>
<hr>
<br>

<h1 style="text-align: center">Resume</h1>
    <div style="text-align: center">
        <embed src="https://docs.google.com/document/d/e/2PACX-1vT1WY-B48sAWCPzPeOG8X3_1u3Ymnmqw_hTSGe2bY6rXG1tGauYFnNmFFvX90IsEQPPQush7Ff1n5Oy/pub?embedded=true"
           height="1060" width="830">
    </div>
<br>

{% endblock %}
