{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="container-fluid bg-primary">
<div class="container bg-primary text-secondary">
    <br>
    <h1 class="text-center">Alien Invasion</h1>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="row">
        <div>
            <center>
            <img class="rounded-lg border-danger" src="{% static 'projects/alien_invasion.png' %}" alt="" width="50%">
            </center>
        </div>
        <div>
            <br>
            <h5>About the project:</h5>
            <p>
                When I first self-taught myself python, which was my first introduction to coding/programming, I followed a textbook. One of the projects at the end was this.
                It's not perfectly organized, but since I had been coding for literally less than 3 months at the time I felt it was pretty good (and fun!) all things considered.
            </p>
            <p>
                <a class="text-danger" href="https://github.com/SHawkeye77/alien_invasion">You can find all the code here.</a>
            </p>
        </div>
    </div>
</div>
</div>

{% endblock %} 