{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="container-fluid bg-primary">
<div class="container bg-primary text-secondary">
    <br>
    <h1 class="text-center">Tic-Tac-Toe Perfect AI</h1>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <br>
    <center>
        <img src="{% static 'projects/ttt.png' %}" alt="" width="25%">
    </center>
    <br>
    <h5>About the project:</h5>
    <p>
        This was a fun project to write. It is an interactive tic-tac-toe game, displayed in pygame, that is impossible for any user to beat. I think it would be cool to one day write my own chess algorithm, so I decided to start off a little simpler and do a tic-tac-toe game that you can't beat. I did not write the algorithm, it's called the minimax algorithm and is pretty common, cool, and useful! Check out more info on it <a class="text-danger" href="https://en.wikipedia.org/wiki/Minimax">here</a>.
    </p>
    <p>
        <a class="text-danger" href="https://github.com/SHawkeye77/ttt">You can find all the code here.</a>
    </p>
    <br>
</div>
</div>

{% endblock %}