{% extends "base.html" %}
{% load static %}
{% block page_content %}

<h1>TTT</h1>
<div class="row">
    <div>
        <img src="{% static "projects/ttt.png" %}" alt="" width="50%">
    </div>
    <div>
        <br>
        <h5>About the project:</h5>
        <p>
            This was a fun project to write. It is an interactive tic-tac-toe game, displayed in pygame, that is impossible
            for any user to beat. I think it would be cool to one day write my own chess algorithm, so I decided
            to start off a little simpler and do a tic-tac-toe game that you can't beat. I did not write the algorithm, it's
            called the minimax algorithm and is pretty common, cool, and useful! Check out more
            info on it <a href="https://en.wikipedia.org/wiki/Minimax">here</a>.
        </p>
        <p>
            <a href="https://github.com/SHawkeye77/ttt">You can find all the code here.</a>
        </p>
    </div>
</div>

{% endblock %}