{% extends "base.html" %}
{% load static %}
{% block page_content %}

<h1>Website</h1>
<div class="row">
    <div>
        <img src="{% static "projects/website.png" %}" alt="" width="50%">
    </div>
    <div>
        <br>
        <h5>About the project:</h5>
        <p>
            In order to practice coding, django, html, python, and git (as well as for fun :)) I decided to make this website!
            It utilizes django and bootstrap.
        </p>
        <p>
            <a href="https://github.com/SHawkeye77/website">You can find all the code here.</a>
        </p>
    </div>
</div>


{% endblock %}