{% extends "base.html" %}
{% load static %}
{% block page_content %}

<!-- Loading JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Loading my script for YouTube playlist randomization -->
<script src="{% static 'ytpr/js/main.js' %}"></script>

<div class="container-fluid bg-primary">
<div class="container bg-primary text-secondary">
    <br>
    <h2 class="text-center">YouTube Playlist Randomizer</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <h5>Input YouTube Playlist Here:</h5>

    <input class="text-primary bg-secondary rounded border-info" id = "playlist_link" name="playlist_link" p/>
    <input class="text-primary bg-secondary rounded border-info" type="button" value="Shuffle Playlist" onclick="on_shuffle_playlist()"><br><br>

    <div class="row">
        <div class="col-sm-2 center-block text-center align-self-center">
            <input class="text-primary bg-secondary rounded border-info" class="text-primary bg-secondary" type="button" value="Previous Video" onclick="prev_vid_click()">
        </div>
        <div id="player" class="rounded border-info center-block text-center align-self-center" style="height: 390px; width: 640px; border: thin solid black"></div>
        <div class="col-sm-2 center-block text-center align-self-center">
            <input class="text-primary bg-secondary rounded border-info" type="button" value="Next Video" onclick="next_vid_click()">
        </div>
    </div>
    <br>

    <!-- More options -->
    <input type="checkbox" id="mute_button" value="mute" onclick="return check_mutebox();"> Mute Player<br>

    <hr>
    <h5>Usage Tips</h5>
    <div>
        <ul>
            <li>To loop the current video, just right click on the player and select "loop".</li>
            <li>This only works with public or unlisted playlists.</li>
            <li>Any "unavailable" videos encountered in the playlist (e.g. ones blocked on copyright grounds) will be automatically skipped. Deleted videos will not be recognized.</li>
        </ul>
    </div>

    <hr>
    <h5>Why is this Necessary?</h5>
    <div>
        For whatever reason, YouTube has a very poor playlist randomization player. I frequently listen to long music playlists on YouTube while I study and work and while doing so have run into many problems including repitition of songs, the player randomly exiting the playlist (and loading videos in the sidebar instead), and more. I was using <a class="text-danger" href="http://youtube-playlist-randomizer.valami.info/">this website</a> as an alternative, but due to the popularity of the site (due to the ineptitude of YouTube :)), it was reaching its daily API request quota early morning every day, meaning it wouldn't be able to work at all past mid-morning daily. So, I got fed up and made own version.
    </div>
    
    <hr>
    <h5>Development Notes/Software/TODO</h5>
    <div>
        This web app was written in Javascript and used JQuery for API calls. Essentially, the code does the following... First, it repeatedly queries the YouTube Data API to collect video IDs. It loops through each page of API responses to fill up an array with all video IDs of all videos in the playlist. It then randomized the array with the video IDs (via the Fisher-Yates aka Knuth shuffling algorithm) and displays the first one. It then works linearly through the array. In terms of upgrades to the player, some things I'd like to add in the future include the following:
        <ul>
            <li>A "loop" checkbox button (added next to the "mute" button)</li>
            <li>A better random number generator function for playlist creation than javascript's built-in Math.random(). I bet there's an API out there that can feed you true (or true-er) random numbers.</li>
            <li>Display the name of the current video just above the player</li>
        </ul>
    </div>
    <br>
</div>
</div>
{% endblock %}