{% extends "base.html" %}
{% block page_content %}
<div class="col-md-10 offset-md-1">
    <h1><center>Articles</center></h1>
    <h5>
        To showcase some of my interests as well as practice more html, django, and bootstrap, I've written a couple of
        articles on things I enjoy. Feel free to browse!
    </h5>
    <div class="card" style="width: 55rem;">
        <div class="card-body">
            <h5 class="card-title"> <a href="favorite_unix_commands">Favorite Unix Commands</a></h5>
            <p class="card-text">
                Power to the people! Unix is so trusting and empowering that it can sometimes be
                dangerous... Here are a few of my favorite commands.
            </p>
        </div>
    </div>
    <div class="card" style="width: 55rem;">
        <div class="card-body">
            <h5 class="card-title"> <a href="favorite_physics_equations">Favorite Physics Equations</a></h5>
            <p class="card-text">
                A few of the math/physics equations I find the most cool or interesting
            </p>
        </div>
    </div>
    <div class="card" style="width: 55rem;">
        <div class="card-body">
            <h5 class="card-title"> <a href="favorite_star_wars_songs">Favorite Star Wars Songs</a></h5>
            <p class="card-text">
                Star Wars and Star Wars music has shaped my childhood and early adulthood. I've compiled a list of the
                top songs.
            </p>
        </div>
    </div>
    <div class="card" style="width: 55rem;">
        <div class="card-body">
            <h5 class="card-title">
                <a href="nintendo_franchises_ranked_by_soundtrack">Nintendo Franchises Ranked By Soundtrack</a>
            </h5>
            <p class="card-text">
                My most listened to "genre" of music by far is video game music, with the most common game development
                company I listen to being Nintendo. Nintendo has some incredible music franchises - here is my ranking.
            </p>
        </div>
    </div>
</div>
{% endblock %}

