{% extends "base.html" %}
{% load static %}
{% block page_content %}

<!-- Loading articles script for the font change at the end of the article -->
<script src="{% static 'articles/js/articles_scripts.js' %}"></script>

<div class="container-fluid bg-primary">
<div class="container bg-primary text-secondary">
    <br>
    <h1 class="text-center">Aurebesh Translator</h1>
    <p>
        One of the beauties of the Star Wars galaxy is its diversity, one of its more notable elements being the galaxy's wide array of languages and dialects. By far the most common language, however, is <i>Galactic Basic</i> which is often simplified to just <i>Basic</i>. This is the standard language in the galaxy and is comprised mostly of what we would call the English language. <i>Aurebesh</i> is the name of the written script used to transcribe Basic, and can be seen all over the Star Wars movies, comics, television series, etc.
    </p>

    <div class="container">
        <div class="row">
            <div class="col">
                <figure class="figure">
                    <img src="{% static 'articles/images/tractor_beam_aurebesh.png' %}" class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption text-secondary">
                        Tractor beam control from Episode IV. The top version shows the original English while the bottom shows the translation to Aurebesh, which was added in later releases of the movie.
                    </figcaption>
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img src="{% static 'articles/images/rey_aurebesh.jpg' %}" class="figure-img img-fluid rounded">
                    <br><br>
                    <figcaption class="figure-caption text-secondary">
                        The helmet Rey wears at her "home" in Episode VII has Aurebesh inscription on the side.
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <figure class="figure">
                    <img src="{% static 'articles/images/galaxys_edge_aurebesh.jpg' %}" class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption text-secondary">
                        Disney World's Star Wars theme park "Galaxy's Edge" has Aurebesh signs scattered about the park.
                    </figcaption>
                </figure>
            </div>
            <div class="col">
                <figure class="figure">
                    <img src="{% static 'articles/images/clone_wars_aurebesh.png' %}" class="figure-img img-fluid rounded">
                    <figcaption class="figure-caption text-secondary">
                        Aurebesh is heavily used in Star Wars animated series including all seasons of Clone Wars.
                    </figcaption>
                </figure>
            </div>
        </div>
        <hr>
        <p>
            The English translation of Aurebesh is almost completely a one-to-one translation of English to Aurebesh letters, as seen in this diagram:
        </p>
        <center>
            <img src="{% static 'articles/images/aurebesh.png' %}" class="figure-img img-fluid rounded" width="50%">
        </center>

        <br><br>
        <p>
            Below, I used an Aurebesh font and some javascript to translate anything you input in English to its Aurebesh equivalent. Try it out!<br> Usage Note: Only use Aurebesh-alphabet characters (see image above)
        </p>
    </div>

    <p>
        <h5>Enter English Text Here:</h5>
        <input class="bg-secondary text-primary" id="english_text" name="english_text" placeholder = "Type here..." />
        <br><br>
        <input class="bg-secondary text-primary" type="button" value="Translate English to Aurebesh Script" onclick="calculateAurebesh()">
        <br><br>

        <aurebesh_large id="outputP"></aurebesh_large>
    </p>
    <br>
</div>
</div>


{% endblock %}