{% extends "base.html" %}
{% block page_content %}
<div class="col-md-10 offset-md-1">
    <h1>Favorite Star Wars Songs</h1>
    <br>
    <h6>
        Here is a list of my top 15 favorite songs from the greatest movie/media franchise ever made.
        The names correspond to their official soundtrack listing name:
    </h6>
    <br>
    <ol reversed>
        <li>Star Wars Main Title (Episode IV)<br>
            <iframe width="500" height="100" src="https://www.youtube.com/embed/e9lapdvLSGw" frameborder="50"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </li>
        <li>Forest Battle (Episode VI)<br>
            <iframe width="500" height="100" src="https://www.youtube.com/embed/ebCnaPzteZM" frameborder="50"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </li>
        <li>Torn Apart (Episode VII)<br>
            <iframe width="500" height="100" src="https://www.youtube.com/embed/VwNpmpBC-t0" frameborder="50"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </li>
        <li>Princess Leia’s Theme (Episode IV)<br>
            <iframe width="500" height="100" src="https://www.youtube.com/embed/eyHOUMWw5_M" frameborder="50"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </li>
        <li>The Asteroid Field (Episode V)<br>
            <iframe width="500" height="100" src="https://www.youtube.com/embed/XNDEljd1cQI" frameborder="50"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </li>
        <li>Battle of the Heroes (Episode III)<br>
            <iframe width="500" height="100" src="https://www.youtube.com/embed/xaqF9mRLu38" frameborder="50"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </li>
        <li>Han Solo and the Princess (Episode V)<br>
            <iframe width="500" height="100" src="https://www.youtube.com/embed/zIQLjKJ2Yto" frameborder="50"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </li>
        <li>Yoda’s Theme (Episode V)<br>
            <iframe width="500" height="100" src="https://www.youtube.com/embed/9C8J-jhMtRA" frameborder="50"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </li>
        <li>Love Pledge and The Arena (Episode II)<br>
            <iframe width="500" height="100" src="https://www.youtube.com/embed/QU2HpDUlUzY" frameborder="50"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </li>
        <li>The Imperial March (Episode V)<br>
            <iframe width="500" height="100" src="https://www.youtube.com/embed/s3SZ5sIMY6o" frameborder="50"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </li>
        <li>Duel of the Fates (Episode I)<br>
            <iframe width="500" height="100" src="https://www.youtube.com/embed/D_2bluVPsb0" frameborder="50"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </li>
        <li>Cantina Band (1) (Episode IV)<br>
            <iframe width="500" height="100" src="https://www.youtube.com/embed/EsvfptdFXf4" frameborder="50"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </li>
        <li>Rey’s Theme (Episode VII)<br>
            <iframe width="500" height="100" src="https://www.youtube.com/embed/K5AwPPgpC-Y" frameborder="50"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </li>
        <li>Across the Stars (Episode II)<br>
            <iframe width="500" height="100" src="https://www.youtube.com/embed/7wMiMDBHnJ0" frameborder="50"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </li>
        <li>The Princess Appears (Episode IV)<br>
            <iframe width="500" height="100" src="https://www.youtube.com/embed/r6Qbbyc1eLc" frameborder="50"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </li>
    </ol>


</div>
{% endblock %}