{% extends "base.html" %}
{% block page_content %}
<div class="col-md-10 offset-md-1">
    <h1>Favorite Star Wars Songs</h1>
    <br>
    <h6>
        Here is a list of my top 15 favorite songs from the greatest movie/media franchise ever made.
        The names correspond to their official soundtrack listing name:
    </h6>
    <br>
    <ol reversed>
        <li>Star Wars Main Title (Episode IV)</li>
        <li>Forest Battle (Episode VI)</li>
        <li>Torn Apart (Episode VII)</li>
        <li>Princess Leia’s Theme (Episode IV)</li>
        <li>The Asteroid Field (Episode V)</li>
        <li>Battle of the Heroes (Episode III)</li>
        <li>Han Solo and the Princess (Episode V)</li>
        <li>Yoda’s Theme (Episode V)</li>
        <li>The Arena (Episode II)</li>
        <li>The Imperial March (Episode V)</li>
        <li>Duel of the Fates (Episode I)</li>
        <li>Cantina Band (1 and 2) (Episode IV)</li>
        <li>Rey’s Theme (Episode VII)</li>
        <li>Across the Stars (Episode II)</li>
        <li>The Hologram/Binary Sunset (Episode IV)</li>
    </ol>


</div>
{% endblock %}