{% extends "base.html" %}
{% block page_content %}
<div class="col-md-10 offset-md-1">
    <h1>Favorite Physics Equations</h1>

    <p>Here are some of my favorite equations (no particular order).</p>

    <p>1) <i>N = R<sub>*</sub> · f<sub>p</sub> · n<sub>e</sub> · f<sub>1</sub> · f<sub>i</sub> · f<sub>c</sub> · L</i> "The Drake Equation" </p>
    <p>
        What it is/why I love it: Theoretically computes the number of civilizations (with which communication
        might be possible) in our galaxy. Doesn't have much practical use but always gets me wondering.
    </p>
    <p>Variables:</p>
    <ul>
        <li><i>N</i> : Number of civilizations in our galaxy where communication might be possible</li>
        <li><i>R<sub>*</sub></i> : Rate of star formation in our galaxy</li>
        <li><i>f<sub>p</sub></i> : Fraction of stars in our galaxy with planets in their system</li>
        <li><i>n<sub>e</sub></i> : Fraction of planets (per each star with associated planets) that could potentially support life</li>
        <li><i>f<sub>1</sub></i> : Fraction of planets that <i>could</i> support life which actually <i>develop</i> life</li>
        <li><i>f<sub>i</sub></i> : Fraction of planets with <i>intelligent</i> life to planets with <i>any</i> life</li>
        <li><i>f<sub>c</sub></i> : Fraction of civilizations that broadcast detectable signals into space to all civilizations</li>
        <li><i>L</i> : Length of time such <i>f<sub>c</sub></i> civilizations broadcast</li>
    </ul>

    <p>2) <i>F = m · a</i> "Newton's Second Law"</p>
    <p>
        What it is/why I love it: Calculates net force on an object. When I studied physics, my professors would relate everything
        back to this equation. No matter how complicated, it seemed like every equation could be related in some way to this simple
        equation. Also, if you know the mass and the acceleration vector of something, in a way, you literally know everything about it.
    </p>
    <p>Variables:</p>
    <ul>
        <li><i>F</i> : Net force</li>
        <li><i>m</i> : Mass of the object</li>
        <li><i>a</i> : Acceleration of the object</li>
    </ul>

    <p>3) <i>&Delta;x · &Delta;p &ge; h / (4 · &pi;)</i> "Heisenberg Uncertainty Principle"</p>
    <p>
        This equation literally has people questioning life itself. Some people refuse to believe in this because it
        means that there is <i>always</i> an inherent uncertainty surrounding specific particles. Their position and
        momentum can not both be known exactly. Ever.
    </p>
    <p>Variables:</p>
    <ul>
        <li><i>&Delta;x</i> : Uncertainty in position</li>
        <li><i>&Delta;p</i> : Uncertainty in momentum</li>
        <li><i>h</i> : Planck constant</li>
    </ul>

    <p>4) <i>&Delta;S &ge; 0</i> "Second Law of Thermodynamics"</p>
    <p>
        This equation means (net) entropy, aka "chaos", if you will, always increases in the universe. Awesome...
    </p>
    <p>Variables:</p>
    <ul>
        <li><i>&Delta;S</i> : Change in entropy</li>
    </ul>

    <p>5) <i>i<sup>2</sup> = -1</i> "Definition of complex numbers"</p>
    <p>
        Opens up an entire new area of mathematics necessary in fields like quantum mechanics.
    </p>
    <p>Variables:</p>
    <ul>
        <li><i>i</i> : Imaginary number defined as the square root of -1</li>
    </ul>

    <br>
    <p>Honorable mentions</p>
    <ul>
        <li>Taylor's theorem</li>
        <li>Schrödinger equation</li>
        <li>Pythagorean theorem</li>
        <li>Maxwell's equations</li>
        <li>Fundamental theorem of calculus</li>
    </ul>


</div>
{% endblock %}