{% extends "base.html" %}
{% block page_content %}
<div class="col-md-10 offset-md-1">
    <h1>Nintendo Franchises Ranked by Soundtrack</h1>
    <br>
    <h5>
        In my opinion, Nintendo is by far the best Video Game development company in terms of the music/soundtracks it produces.
        Here are my favorite Nintendo franchises by OST, each accompanied by a few of my favorite songs from the franchise.
    </h5>
    <p>Note: There's no way I could pick my favorite few songs from each franchise so these are just some of my favorite songs
        from each (not necessarily the best)...</p>

    <p>Honorable Mentions:
        <li>Mega Man</li>
        <li>Wii</li>
        <li>Fire Emblem</li>
        <li>Bravely Default</li>
    </p>
    <br>
    PAGE UNDER CONSTRUCTION
    <!--
    <div id="a1">
        <div class="card">
            <div class="card-header" id="h1">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        8) Animal Crossing
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="h1" data-parent="#a1">
            <div class="card-body">
                <ul style="list-style-type: padding-bottom: 0;">
                    <li>Rainy Day Theme (New Leaf)</li>
                    <li>The Roost Cafe (New Leaf)</li>
                    <li>Tortimer Island (Nighttime) (New Leaf)</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    <div id="a2">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        7) Donkey Kong
                    </button>
                </h5>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="h2" data-parent="#a2">
            <div class="card-body">
                <ul style="list-style-type: padding-bottom: 0;">
                    <li>Aquatic Ambiance (DKC)</li>
                    <li>Stickerbrush Symphony (DKC2)</li>
                    <li>Mining Melancholy (DKC2)</li>
                    <li>Jib Jig (DKC2)</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    <div id="a3">
        <div class="card">
            <div class="card-header" id="h3">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        6) Final Fantasy
                    </button>
                </h5>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="h3" data-parent="#a3">
            <div class="card-body">
                <ul style="list-style-type: padding-bottom: 0;">
                    <li>Fireburg (FFMQ)</li>
                    <li>The Prelude (FFVI)</li>
                    <li>Aria de Mezzo Carattere (FFVI)</li>
                    <li>Terra's Theme (FFVI)</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    <div id="a4">
        <div class="card">
            <div class="card-header" id="h4">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        5) Xenoblade Chronicles
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="h4" data-parent="#a4">
            <div class="card-body">
                <ul style="list-style-type: padding-bottom: 0;">
                    <li>Gaur Plains (Day and Night) (XC)</li>
                    <li>Fonsett Village (XC2)</li>
                    <li>Counterattack (XC2)</li>
                    <li>Reminiscence</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    <div id="a5">
        <div class="card">
            <div class="card-header" id="h5">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        4) Mother (Earthbound)
                    </button>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="h4" data-parent="#a5">
            <div class="card-body">
                <ul style="list-style-type: padding-bottom: 0;">
                    <li>Love Theme (M3)</li>
                    <li> The End (M)</li>
                    <li>Smiles and Tears (Earthbound)</li>
                    <li>Boy Meets Girl (Earthbound)</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    <div id="a6">
        <div class="card">
            <div class="card-header" id="h6">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        3) Pokémon
                    </button>
                </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="h6" data-parent="#a6">
            <div class="card-body">
                <ul style="list-style-type: padding-bottom: 0;">
                    <li>Village Bridge (B/W)</li>
                    <li>Littleroot Town (OR/AS)</li>
                    <li>Undella Town (B/W)</li>
                    <li>Goldenrod City (G/S/C)</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    <div id="a7">
        <div class="card">
            <div class="card-header" id="h7">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                        2) Zelda
                    </button>
                </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="h7" data-parent="#a7">
            <div class="card-body">
                <ul style="list-style-type: padding-bottom: 0;">
                    <li>Gerudo Valley (OOT)</li>
                    <li>Rito Village (BOTW)</li>
                    <li>Outset Island (WW)</li>
                    <li>Fi's Farewell (SS)</li>
                    <li>Zelda's Lullaby (LttP)</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    <div id="a8">
        <div class="card">
            <div class="card-header" id="h8">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                        1) Mario
                    </button>
                </h5>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="h8" data-parent="#a8">
            <div class="card-body">
                <ul style="list-style-type: padding-bottom: 0;">
                    <li>Starship Mario 1 (SMG2)</li>
                    <li>Staff Roll (SM64)</li>
                    <li>Gusty Garden Galaxy (SMG)</li>
                    <li>Super Bell Hill (SM3DW)</li>
                    <li>Athletic Theme (SML2)</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    -->
</div>
<br>

{% endblock %}