@font-face {
    font-family: 'aurebeshregular';
    src: url('aurebesh-webfont.woff2') format('woff2'),
         url('aurebesh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
p_aurebesh {
    font-family: aurebeshregular;
    font-weight: 100;
}